body{
    display: flex;
    margin: auto 0;
    width: 90%;
    background: #d5c6cb;
}

#users-table{
    border: 1px solid silver;
    font-family: sans-serif;
    text-align: center;
    border-spacing: 5px;
    border-collapse: separate;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #e08b8b;
    height: 550px;
}

th{
    background-color: #1c1b1b;
    color: #e08b8b;

}

tr:hover{
    background-color: #9d2828;
}



